title = "index"
url = "/"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[siteSearchInclude]
==
<?php
use Team22\MovieBase\Models\Movie;

    public function onStart ()
    {
        $movies = Movie::all();
        $this['movies_random'] = $movies->random()->paginate(25);
        //$this->prepareYears();
    }

    function onFilter()
    {
        $this->prepareYears();
    }

    function prepareYears()
    {
        $options = post('Filter', []);

        $movies = Movie::all();
        $years = [];

        foreach($movies as $movie)
        {
            $years[] = $movie->year;
        }

        $years = array_unique($years);
        $this['years'] = $years;

        $this['sortOptions'] = Movie::$allowedSortingOptions;
    }
?>
==
{##}

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <div style="margin-bottom: 20px;">
            {{ form_ajax('onFilter', {update: { movie : '#update_partial' }} ) }}
            <select name="Filter[sort]" id="">
                <option value="" disabled>Сортировка</option>
                {% for code, option in sortOptions %}
                <option value="{{ code }}">
                    {{ option }}
                </option>
                {% endfor %}
            </select>
            {{ form_close() }}
        </div>
        <div id="update_partial" class="wthree_agile-requested-movies">
            {% for movie in movies_random %}
            {% partial 'movie' movie=movie %}
            {% endfor %}
            {{ searchResults.query }}
            <div class="clearfix"></div>
        </div>
        <!--//requested-movies-->
        <div class="blog-pagenat-wthree">
            {% if movies_random.hasPages %}
            <ul>
                        <li>
            {% if movies_random.currentPage > 1 %}
                <a href="{{ movies_random.previousPageUrl }}" rel="prev">«</a>
            {% else %}
                <span class="disabled">«</span>
            {% endif %}
        </li>

        {% for page in range(1, movies_random.lastPage) %}
            <li {{ movies_random.currentPage == page ? 'class="active"' }}>
                <a href="{{ movies_random.url(page) }}">{{ page }}</a>
            </li>
        {% endfor %}

        <li>
            {% if movies_random.hasMorePages %}
                <a href="{{ movies_random.nextPageUrl }}" rel="next">»</a>
            {% else %}
                <span class="disabled">»</span>
            {% endif %}
        </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>