<div style="background: #999">
    <div class="demo-inner-content">
        <!--/header-w3l-->
        <div class="header-w3-agileits" id="home">
            <div class="inner-header-agile">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button
                            type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                        >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a href="/"><span>M</span>ovies <span>P</span>ro</a>
                        </h1>
                    </div>
                    <!-- navbar-header -->
                    <div
                        class="collapse navbar-collapse"
                        id="bs-example-navbar-collapse-1"
                    >
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="dropdown">
                                <a
                                    href="#"
                                    class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    >Genre <b class="caret"></b
                                ></a>
                                <ul
                                    class="dropdown-menu multi-column columns-3"
                                >
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                {% for genre in movie.genres %}
                                                <li>
                                                    <a href="/genre/{{ genre.slug }}"
                                                        >{{ genre.title }}</a
                                                    >
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="news.html">news</a></li>
                            <li class="dropdown">
                                <a
                                    href="#"
                                    class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    >Country <b class="caret"></b
                                ></a>
                                <ul
                                    class="dropdown-menu multi-column columns-3"
                                >
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="genre.html"
                                                        >Asia</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >France</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >Taiwan</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >United States</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="genre.html"
                                                        >China</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >HongCong</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >Japan</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >Thailand</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="genre.html"
                                                        >Euro</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >India</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >Korea</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="genre.html"
                                                        >United Kingdom</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="login"
                                    data-toggle="modal"
                                    data-target="#myModal4"
                                    >Login</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="login"
                                    data-toggle="modal"
                                    data-target="#myModal5"
                                    >Register</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </nav>
                <div class="w3ls_search">
                    <div class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li>
                                <a class="cd-search-trigger" href="#cd-search">
                                    <span></span
                                ></a>
                            </li>
                        </ul>
                        <!-- cd-header-buttons -->
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="{{ 'search' | page }}" method="get">
                            <input
                                name="q"
                                type="text"
                                placeholder="Search..."
                                autocomplete="off"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--//header-w3l-->
    </div>
</div>
